<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015-2015 by Shanghai shootbox Information Technology Co., Ltd.
  ~ Create: 2015/9/10 3:0:15
  ~ Project: T_note
  ~ File: AndroidManifest.xml
  ~ Class: AndroidManifest.xml
  ~ Module: app
  ~ Author: yangyankai
  ~ Version: 1.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mob.t_note" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".MyNote">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/my_note_widget" />
        </receiver>
        <activity android:name="com.mob.t_note.MyNoteConf">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".MyNoteEdit"/>
    </application>

</manifest>
